*{
  margin: 0;
  padding: 0;
}

.registration{
  display: flex;

}

.registration .left{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: end;
  

}

.registration .left .text-container{
    width: 60%;
    margin-top: 100px;
}

.registration .left .text-container p{
  margin-bottom: 50px;
}

.registration .right{
  width: 50%;
  height: 100vh;

}

.registration .bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputCss{
  width: 90%;
  margin: 15px 0 !important;
}

.regbtn{
  width: 90%;
  padding: 15px 0 !important;
  border-radius: 50px !important;
  margin-top: 20px !important;
}

.focus{
  font-weight: bold;
  color: orange;
}

.eye{
      position: relative;
    top: 35px;
    right: 30px;
}

.forgotpage{
  background: orange;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotbox{
  background: #fff;
  padding: 20px;
  width: 50%;
 
}

.sidebar{
  background: #5F35F5;
  height: 95vh;
  margin: auto;
  width: 85%;
  margin-top: 2.5vh;
  text-align: center;
  padding: 38px 0;
  border-radius: 20px;
}

.sidebarimg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.sidebar h1{
  color: white;
  font-size: 16px;
}

.sidebar ul li{
  margin: 42px;
  list-style: none;
}

.sidebar .icon{
  color: #fff;
  font-size: 30px;
}

.active{
  position: relative;
  z-index: 2;
}

.active .icon{
  color: #5F35F5;
}

.active:before{
  position: absolute;
  top: -10px;
  left: -25px;
  width: 151px;
  height: 55px;
  background: #fff;
  content: "";
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.active:after{
  position: absolute;
  top: -10px;
  right: -42px;
  width: 10px;
  height: 55px;
  background: #5F35F5;
  content: "";
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.box{
  width: 100%;
  height: 49vh;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 2.5vh;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2);
}

.list{
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin: 10px 0;

}

.list:last-child{
  border-bottom: 0;
}

.msgbox{
  background: #fff;
 
 height: 100vh;
  margin-top: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
padding: 20px;

}

.containermsg{
  overflow-y: scroll;
  height: 80vh;
}

.sendmsg{
  display: flex;
  justify-content: end;
}

.sendmsg p{
  background: #5F35F5;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
}

.receivemsg p{
  background: #F1F1F1;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
}

.sendimg{
  display: flex;
  justify-content: end;
}

.sendimg .imgbox{
  background: #5F35F5;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.sendimg img{
  width: 300px;
  height: 300px;
  object-fit: cover;

}

.sendimg .__react_modal_image__medium_img{
  width: auto;
  height: auto;
}

.receiveimg .imgbox{
  background: #F1F1F1;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.receiveimg img{
  width: 300px;
  height: 300px;
  object-fit: cover;

}

.receiveimg .__react_modal_image__medium_img{
  width: auto;
  height: auto;
}

.sendaudio{
  display: flex;
  justify-content: end;
}

.sendvideo{
  display: flex;
  justify-content: end;
}

.msgfield{
  border-top: 1px solid black;
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.msgfield .MuiTextField-root{
  width: 80%;
}

.jisir{
  position: absolute;
  top: 70px;
  right: 200px;
}

.jimam{
  position: absolute;
  top: 70px;
  right: 250px;
}

.ji{
  position: absolute;
  top: 60px;
  right: 300px;
}

.emojiholder{
  position: absolute;
  top: -400%;
  right: 200px;
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
  width: 100px;
  height: 100px;
}